# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Node (если используете React)
node_modules/
npm-debug.log
yarn-error.log


# Logs
logs/*.log
