/* static/css/custom.css */

body {
    background-color: #f8f9fa; /* Светло-серый фон */
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

/* Улучшаем карточки */
.card {
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,.08);
}

.story-content {
    font-size: 1.1rem;
    line-height: 1.7;
}

/* Улучшаем пагинацию */
.pagination .page-item.active .page-link {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.pagination .page-link {
    color: #0d6efd;
}

